:root {
  --accent-color: #007FA9;
  /* same as $accent-color in content/_assets/styles/variables.scss */
}

/* COVER
============================================================================= */
/*
Spectral
https://github.com/productiontype/Spectral
Open Font License 1.1 (https://scripts.sil.org/OFL)

Spectral Light
*/
@font-face {
  font-family: "Spectral";
  src: url("../fonts/spectral/spectral-light.woff2") format("woff2"),
       url("../fonts/spectral/spectral-light.woff") format("woff"),
       url("../fonts/spectral/spectral-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* Spectral Semi-Bold
*/
@font-face {
  font-family: "Spectral";
  src: url("../fonts/spectral/spectral-semibold.woff2") format("woff2"),
       url("../fonts/spectral/spectral-semibold.woff") format("woff"),
       url("../fonts/spectral/spectral-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Cover customization to match previous collection catalogues */
.hero-body .container.is-fluid {
  bottom: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 3rem;
  text-align: center;
  background: -webkit-linear-gradient(top, transparent, rgba(0,0,0,0.7));
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.7));
  text-shadow: 3px 3px 5px rgba(0,0,0,0.9);
}
.quire-cover__hero .title {
  font-family: "Spectral", serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
}
.quire-cover__hero .title .title-large {
  display: block;
  font-size: 5.25rem;
  font-weight: 300;
  padding-top: 5px
}
.quire-cover__hero .contributor {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .5px;
  margin-top: 2rem;
}
.quire-cover__hero .contributor em {
  font-style: normal;
}
.quire-cover__more .hero-more {
  background: var(--accent-color);
}
.quire-cover .quire-page__content .container.is-fluid .content .cover-authors {
  margin-bottom: 3rem;
}
.quire-cover .quire-page__content .container.is-fluid .content .cover-authors p {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  text-align: center;
}
@media print {
  .quire-cover__hero .hero-body .container {
    width: 100%;
    padding-bottom: 1in;
  }
  .quire-cover__hero .title {
    font-size: 22pt;
  }
  .quire-cover__hero .title .title-large {
    font-size: 60pt;
  }
  .title-page .contributor {
    max-width: 4.75in;
    float: right;
  }
  .title-page .contributor p {
    margin-bottom: 1em;
  }
}

/* NAVBAR
============================================================================= */
.quire-navbar {
  font-family: 'Times', serif;
  text-transform: uppercase;
  letter-spacing: .5px;
}
.quire-navbar-page-controls__item.quire-home-page {
  font-weight: bold;
}

/* TOMBSTONES
============================================================================= */
/* Spacing for list items, especially for Makers and Components */
.quire-entry__tombstone table ul li {
  margin-bottom: .5rem;
}

/* HEADINGS
============================================================================= */
.quire-entry h2,
.quire-essay h2,
.quire-page h2 {
  font-size: 1.3125rem;
  text-transform: uppercase;
}
.quire-entry h3,
.quire-essay h3,
.quire-page h3 {
  font-size: 1.3125rem;
  font-style: normal;
}
.quire-entry h4,
.quire-essay h4,
.quire-page h4 {
  font-size: 1.3125rem;
  font-style: italic;
}
.quire-entry h5,
.quire-essay h5,
.quire-page h5 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px;
}
.quire-entry h6,
.quire-essay h6,
.quire-page h6 {
  font-size: 1rem;
  font-weight: 700;
}

/* FIGURES
============================================================================= */
/* Fix appearance and placement of figure label below caption */
.content figure .q-figure__caption a {
  color: #000;
}
.content figure .q-figure__caption a svg {
  fill: #000;
}
.content figure .q-figure__caption a:hover {
  color: var(--accent-color);
}
.content figure .q-figure__caption a:hover svg {
  fill: var(--accent-color);
}
.q-figure__label--below .q-figure__label-icon {
  height: 0;
  margin-top: -1.65rem;
}
/* Adjust display of Marks in figure groups so all are equal width */
.q-figure--group__row {
  justify-content: flex-start;
}
.q-figure.column.q-figure--group__item.quire-grid--3 {
  max-width: 33%;
}

/* BLOCKQUOTES
============================================================================= */
/* Remove default quote ornament */
.quire-page__content .container .content blockquote {
  padding: 0;
}
.quire-page__content .container .content blockquote p:first-child:before {
  content: none;
}
.quire-page__content .container .content blockquote table {
  font-size: 1em;
}
/* Remove empty table heads from tables in Cat. 8. */
.quire-page__content .container .content blockquote table thead {
  display: none;
}
.quire-page__content .container .content blockquote table tbody {
  border-top: 1px solid hsl(0deg, 0%, 86%);
}
/* Fix margin for blockquote in notes Cat. 10. */
.quire-page__content .container .content .footnotes li blockquote {
  margin-left: 1.5em;
}

/* TABLES
============================================================================= */
.headless-table thead {
  display: none;
}
.headless-table tbody {
  border-top: 1px solid hsl(0deg, 0%, 86%);
}

.quire-page__content .container .content .table-figure table td,
.quire-page__content .container .content .table-figure table th {
  text-align: left;
}

.quire-page__content .table-figure a {
  color: #000000;
}
.quire-page__content .table-figure table caption {
  font-size: .75rem;
  margin-bottom: 1rem;
}
.quire-page__content .table-figure table#table-2 {
  font-size: 0.75rem;
}
.quire-page__content .table-figure table#table-1 {
  font-size: 0.625em;
}
.quire-page__content .table-figure .table-key {
  font-size: 0.625em;
  text-align: left;
  margin-left: 0;
}
.quire-page__content .table-figure a:hover .table-key {
  color: #000000;
}
.quire-page__content .table-figure .table-key dt {
  float: left;
  margin-right: .5rem;
}
.quire-page__content .table-figure .table-notes {
  background-color: #e8e8e8;
}

/* FOOTNOTES
============================================================================= */
.quire-page__content .container .content .footnotes {
  padding-right: 0;
}

/* ABOUT & COPYRIGHT PAGES
============================================================================= */
/* LOC Cataloguing in Publication format */
.quire-page__content .container .content .cip-data p {
  margin-bottom: 0;
}
.quire-page__content .container .content .cip-data ul {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: .5rem;
}
.quire-page__content .container .content .cip-data ul li {
  line-height: 1.6;
  margin: 0;
  padding-left: 1.5em;
  text-indent: -1.5em;
}
.quire-page__content .container .content .cip-data ul li::before {
  display: none;
}